<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Jogadores</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Telefone</th>
            <th scope="col">Codinome</th>
            <th scope="col">Grupo</th>
            <th scope="col">Ação</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody>

            <!-- Dado da requisição aqui -->
            
        </tbody>
      </table>

      <script>

        fetch('http://localhost:8080/api/v1/json/jogadores')
        .then(res => res.json())
        .then(data => {

          const tbody = document.querySelector('table tbody');

        data.forEach(jogador => {

          const row = document.createElement('tr');
          
          const nomeCell = document.createElement('td');
          nomeCell.textContent = jogador.nome;
          row.appendChild(nomeCell);
          
          const emailCell = document.createElement('td');
          emailCell.textContent = jogador.email;
          row.appendChild(emailCell);
          
          const telefoneCell = document.createElement('td');
          telefoneCell.textContent = jogador.telefone;
          row.appendChild(telefoneCell);
          
          const codinomeCell = document.createElement('td');
          codinomeCell.textContent = jogador.codinome;
          row.appendChild(codinomeCell);
          
          const grupoCell = document.createElement('td');
          grupoCell.textContent = jogador.grupo;
          row.appendChild(grupoCell);
          
    /*      const acao1Cell = document.createElement('td');
          row.appendChild(acao1Cell);
          
          const acao2Cell = document.createElement('td');
          row.appendChild(acao2Cell);*/
          
          tbody.appendChild(row);
          });

            })
        .catch(e => {
          console.log(e);
        });
      </script>
</body>
</html>